extends ../layout

block content
  div.top 
    h1 All Pets (Lost and Found)
  div.sidebar 
    p.show
    a(href="/pets/browselost") Lost Pets 
    p.show
    a(href="/pets/browsefound") Found Pets 
    p.show
    p Show Me:
    p.show
      a(href="/pets/all/dogs") Dogs 
      p
      a(href="/pets/all/cats") Cats
      p.show 
      a(href="/pets/all/other") Other 
  div.main
    
    div.pets 
      each pet in petsAndUsers
        div.eachpet     
          ul
            a(href="/pets/#{pet.id}/profile")
              img(src='#{pet.image}' style="height: 300px; width: 300px;")
            if pet.isFound 
              li 
                strong FOUND 
            else 
              li 
                strong LOST
            li 
              strong Name: 
              | #{fs.echo(pet.name)}
            if pet.age 
              li 
                strong Age: 
                | #{pet.age}
            if pet.isFound
              li 
                strong Location: 
                | #{fs.echo(pet.location)}
            else 
              li 
                strong Last Known Location: 
                | #{fs.echo(pet.location)}
            li 
              strong Description: 
              | #{fs.echo(pet.description)}
            if pet.date 
              if pet.isFound
                li 
                  strong Date Found: 
                  | #{func.call(pet.date)}
              else 
                li 
                  strong Date Lost: 
                  | #{func.call(pet.date)}
            else 
              li 
                strong No date available 
            li 
              strong User: 
              | #{pet.username}
            li 
              strong Contact Info: 
              | #{fs.echo(pet.contact)}
