extends ../layout

block content
  h1 All Pets (Lost and Found)
  p
  a(href="/pets/browselost") Lost Pets 
  a(href="/pets/browsefound") Found Pets 
  p
  table
    each pet in petsAndUsers 
      tr
        td
          ul
            li= pet.image
            li Name: #{func.echo(pet.name)}
            li Age: #{pet.age}
            if pet.isFound
              li Location: #{func.echo(pet.location)}
            else 
              li Last Known Location: #{func.echo(pet.location)}
            li Description: #{func.echo(pet.description)}
            if pet.isFound
              li Date Found: #{pet.date}
            else 
              li Date Lost: #{pet.date}
            li User: #{pet.username}
            li Contact Info: #{func.echo(pet.contact)}
            
      
