extends ../layout

block content
  h1 All Pets (Lost and Found)
  p
  a(href="/pets/browselost") Lost Pets 
  a(href="/pets/browsefound") Found Pets 
  p
  table
    each pet in pets 
      tr
        td
          ul
            li= pet.image
            li= fs.echo(pet.name)
            li= pet.age
            li= fs.echo(pet.location) 
            li= fs.echo(pet.description) 
            li= pet.date 
            li= fs.echo(pet.contact) 
            
      
