extends ../layout

block content
  div.top 
    h1 Lost Pets 
  div.sidebar 
    a(href="/pets/all") All Pets 
    p.show
    a(href="/pets/browsefound") Found Pets 
    p.show
    p Show Me:
    p
      a(href="/pets/browselost/dogs") Dogs 
      p.show
      a(href="/pets/browselost/cats") Cats
      p.show  
      a(href="/pets/browselost/other") Other 
    h4= error 
    p
  div.main 
    div.pets 
      each pet in petsAndUsers 
        div.eachpet
          ul
            img(src='#{pet.image}' style="height: 300px; width: 300px;")
            div.content 
              li 
                strong LOST 
              li 
                strong Name: 
                | #{fs.echo(pet.name)}
              if pet.age 
                li 
                  strong Age: 
                  | #{pet.age}
              li 
                strong Last Known Location: 
                | #{fs.echo(pet.location)}
              li 
                strong Description: 
                | #{fs.echo(pet.description)}
              if pet.date 
                li 
                  strong Date Lost: 
                  | #{func.call(pet.date)}
              else 
                li 
                  strong No date available 
              li 
                strong User: 
                | #{pet.username}
              li 
                strong Contact Info: 
                | #{fs.echo(pet.contact)}
