extends ../layout 

block content 
  div.top 
    h1 Found Pets
  div.sidebar  
    a(href="/pets/all") All Pets 
    p.show
    a(href="/pets/browselost") Lost Pets
    p.show
    p Show Me:
      p
      a(href="/pets/browsefound/dogs") Dogs 
      p.show 
      a(href="/pets/browsefound/cats") Cats
      p.show  
      a(href="/pets/browsefound/other") Other 
  div.main 
    div.pets 
      each pet in petsAndUsers  
        div.eachpet 
          ul
            img(src='#{pet.image}' style="height: 300px; width: 300px;")
            li 
              strong FOUND 
            li 
              strong Name: 
              | #{fs.echo(pet.name)}
            if pet.age 
              li 
                strong Age: 
                | #{pet.age}
            li 
              strong Location: 
              | #{fs.echo(pet.location)}
            li 
              strong Description: 
              | #{fs.echo(pet.description)}
            if pet.date 
              li 
                strong Date Found: 
                | #{func.call(pet.date)}
            else 
              li 
                strong No date available 
            li 
              strong User: 
              | #{pet.username}
            li 
              strong Contact Info: 
              | #{fs.echo(pet.contact)}
