extends ../layout

block content
  h2 Confirmation
  
  div.confirm 
    if pet.isFound 
      h3 Please confirm that you have lost #{pet.name} before contacting #{users.first_name}.
      img(src="#{pet.image}" style="height: 200px;")
      
      //- h3= pet.name
      br
        
      a(href="/twilio/#{pet.id}") Yes, I lost #{pet.name}!
    else 
      h3 Please confirm that you have found #{pet.name} before contacting #{users.first_name}.
      img(src="#{pet.image}" style="height: 200px;")
      
      //- h3= pet.name
      br
        
      a(href="/twilio/#{pet.id}") Yes, I think I found #{pet.name}!
