extends ../layout

block content
 link(rel='stylesheet', href='/stylesheets/profile.css')
 a(class="back" href="/users/profile/mypets") 
   p Back
 
 div.profile
   div.profile-left
     h1= pet.name
     img(src="#{pet.image}")
   div.profile-right
     p Age: #{pet.age}
     if pet.isFound
       p Date Found: #{pet.date}
     else
       p Date Lost: #{pet.date}
     p Description: #{pet.description}
     br
     a(href="/users/#{pet.id}/profile/update") Update this pet 
     br
     a(href="/users/#{pet.id}/profile/update/image") Update this pet's image 
     br 
     a(href="/users/#{pet.id}/profile/delete") Delete this pet 
