extends ../layout

block content
  h1 Users
  div.main
    
    table#users
      th ID
      th First Name
      th Last Name
      th Username
      th Email
      th Admin
      th
        for user in users
          tr
            td= user.id
            td= user.first_name
            td= user.last_name
            td= user.username
            td= user.email
            td
              a(href='/admin/users/#{user.id}/#{!user.isAdmin}')= user.isAdmin
            td Edit
