extends ../layout

block content
  h1 Users
  div.main
    
    table#users
      th ID
      th First Name
      th Last Name
      th Username
      th Email
      th Admin
      th
        each row in rows 
          tr
            td= row.id
            td= row.first_name
            td= row.last_name
            td= row.username
            td= row.email
            if user.id != row.id
              td
                a(href='/admin/users/#{row.id}/#{!row.isAdmin}')= row.isAdmin
            else 
              td= row.isAdmin 
            if user.id != row.id 
              td 
                a(href='/admin/users/#{row.id}/delete') Delete 
            else 
              td
